<h2 class="text-6xl text-stone-100 mt-4 mx-auto text-center">Celebrities</h2>


<div class="space-y-4 mt-12 text-center flex flex-col items-center justify-center">
  {{#each celeb}}
    <div class="bg-stone-100 p-4 shadow-md rounded-md w-1/2">
      <h3 class="text-lg font-medium">{{name}}</h3>
      <p class="text-gray-500">{{occupation}}</p>
      <p class="text-gray-600">'{{catchPhrase}}'</p>
    </div>
  {{/each}}
</div>
<a href="/" class="absolute bottom-4 right-4 text-stone-200 shadow-md no-underline rounded-full bg-blue-600 px-4 py-2 hover:no-underline hover:text-stone-200 hover:bg-blue-700">Home</a>