
<div class="flex flex-col items-center justify-center space-y-4 h-full w-auto mt-32 text-stone-200">

  <h1 class="text-6xl font-bold ">Movies DB</h1>
  <p class="text-2xl">Welcome to your personal database of your favorite movies, and celebrities!</p>

  <div class="flex flex-row grow justify-evenly w-1/2 text-md ">
    <a class="shadow-md no-underline rounded-full bg-blue-600 px-4 py-2 hover:no-underline hover:text-stone-200 hover:bg-blue-700"href="celebrities/create">Add a celebrity</a>
    <a class="shadow-md no-underline rounded-full bg-blue-600 px-4 py-2 hover:no-underline hover:text-stone-200 hover:bg-blue-700"href="celebrities">View celebrities</a>
    <a class="shadow-md no-underline rounded-full bg-blue-600 px-4 py-2 hover:no-underline hover:text-stone-200 hover:bg-blue-700"href="movies/create">Add a movie</a>
    <a class="shadow-md no-underline rounded-full bg-blue-600 px-4 py-2 hover:no-underline hover:text-stone-200 hover:bg-blue-700"href="movies">View movies</a>
  </div>
</div>