<h2>New movie</h2>

<form action="/movies/create" method="post">
    <label>Title
    <input type="text" name="title"/><br>
    </label><br>
    <label>Genre
    <input type="text" name="genre"/>
    </label><br>
    <label>Plot
        <input type="text" name="plot"/>
    </label><br>

<label for="celeb">Cast:</label>
    <select name="celeb" id="celeb">
        {{#each celeb}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    
<button type="submit">Submit</button>
</form>